body {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; 
    font-size: xx-large; 
    font-weight: bold;
    gap: 250px;
    background-color: rgb(255, 162, 48);
    line-height: 1.0;
    
}

ul {
    list-style-type: none;
}
